version: '2'

services:
  web:
    image: greut/rails:latest
    build: .
    hostname: ror
    domainname: dev
    environment:
      - POSTGRES_PASSWORD=root
      #- MYSQL_ROOT_PASSWORD=root
    volumes:
      - ".:/usr/src/app"
    depends_on:
      - redis
      - postgres
      #- mysql
    ports:
      - "3000:3000"
      - "8888:8888"

  redis:
    image: redis:3.2-alpine
    volumes:
      - redis:/data

  #memcached:
  #  image: memcached:1.4

  postgres:
    image: postgres:9.5
    environment:
      - POSTGRES_PASSWORD=root
      - POSTGRES_PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data

  #mysql:
  #  image: mysql:5.7
  #  environment:
  #    - MYSQL_ROOT_PASSWORD=root
  #  ports:
  #    - "3306:3306"
  #  volumes:
  #    - mysql:/var/lib/mysql

  mail:
    image: mailhog/mailhog:latest
    ports:
      - "8025:8025"

volumes:
  mysql:
  postgres:
  redis:
